body{
    background-size: cover;
    text-align: center;
}
#camera{
    width: 250px;
    height: 250px;
}
h3{
    color:white;
}
@keyframes example{
    from {box-shadow: 1px 1px 38px purple;}
    to {box-shadow: 1px 1px 38px blue;}
}